<div *ngIf="requestProgress" class="loading-overlay">
</div>
<h1>Импорт показателей</h1>

<div class="form-group">
  <label for="file">Выберите файл</label>
  <input type="file"
         id="file"
         (change)="changeFile($event.target.files)">
  <br/>
  <button (click)="upload()" class="btn btn-success">Импортировать</button>
</div>

<h1>Отчёт импорта</h1>

<div class="form-group" *ngIf="Report">
  <ul>
    <li class="text-danger" *ngIf="!Report.headerValid">Заголовок содержит ошибки.</li>
    <li class="text-success" *ngIf="Report.headerValid">Заголовок в порядке.</li>
    <li class="text-success">{{Report.totalRowsFound}} строк найдено.</li>
    <li class="text-success">{{Report.totalRowsReady}} строк готово к импорту.</li>
    <li class="text-danger">{{Report.countInvalidRows}} строк не годны. <span *ngIf="Report.countInvalidRows">Смотрите отчёт ниже.</span></li>
    <li class="text-success">{{Report.totalInsertedRows}} суммарно добавлено.</li>
    <li class="text-success">{{Report.totalUpdatedRows}} суммарно обновлено.</li>
    <li class="text-danger" *ngIf="Report.totalInsertedErrorsCount">{{Report.totalInsertedErrorsCount}} ошибок при добавлении.</li>
    <li class="text-danger" *ngIf="Report.totalUpdatedErrorsCount">{{Report.totalUpdatedErrorsCount}} ошибок при обновлении.</li>
    <li class="text-success">{{Report.totalExecutionTimeSeconds}} секунд.</li>
  </ul>

  <div class="legend" *ngIf="Report.countInvalidRows">
    <h1>Ошибки импорта <span *ngIf="Report.countErrors">({{Report.countErrors}})</span></h1>
    <button (click)="toggleErrorsByColumns()" style="float: right;" class="btn btn-primary btn-xs expand-button">
      {{Options.showErrorsByColumns ? "Группировать по строкам" : "Группировать по столбцам"}}
    </button>
    <button (click)="toggleExpanded();" style="float: right;margin-right: 10px" class="btn btn-primary btn-xs expand-button">
      {{Options.errorsExpanded ? "Свернуть все" : "Раскрыть все"}}
    </button>
  </div>

  <ul class="text-danger" *ngIf="!Options.showErrorsByColumns">
    <li *ngFor="let item of Report.errorsByRows | keyvalue" style="list-style-type: none;">
      <a class="btn-link" (click)="toggleRow(item.key)">
        <i [ngClass]="{'bi': true, 'bi-caret-down': Options.expandedRows[item.key], 'bi-caret-right': !Options.expandedRows[item.key]}"></i>
      </a>
      Ошибки строки {{item.key}}:<br>
      <ul *ngIf="Options.expandedRows[item.key]">
        <li *ngFor="let columnError of item.value">
          столбец {{columnError.column}} ({{Report.columnNames[columnError.column]}}): {{columnError.errorMessage}}
        </li>
      </ul>
    </li>
  </ul>
  <ul class="text-danger" *ngIf="Options.showErrorsByColumns">
    <li *ngFor="let item of Report.errorsByColumns | keyvalue" style="list-style-type: none;">
      <a class="btn-link" (click)="toggleColumn(item.key)">
        <i [ngClass]="{'bi': true, 'bi-caret-down': Options.expandedColumns[item.key], 'bi-caret-right': !Options.expandedColumns[item.key]}"></i>
      </a>
      Ошибки столбца {{item.key}} ({{Report.columnNames[item.key]}}):<br>
      <ul *ngIf="Options.expandedColumns[item.key]">
        <li *ngFor="let rowError of item.value">
          строка {{rowError.row}}: {{rowError.errorMessage}}
        </li>
      </ul>
    </li>
  </ul>
</div>
