<div *ngIf="requestProgress" class="loading-overlay">
</div>
<h1>Импорт показателей</h1>
<div class="form-group">
  <a href="./templates/indicators.xlsx" download>Шаблон файла показателей</a>
</div>
<div class="form-group">
  <input type="file"
         id="file"
         (change)="changeFile($event.target.files)">
  <br/>
  <button (click)="upload()" [disabled]="!fileToUpload" class="btn btn-success">Импортировать</button>
</div>

<app-import-report [Report]="Report" [Options]="Options"></app-import-report>
