<!--TODO rename all css classes to be shorter (omit 'medical-state' parts)-->
<div class="medical-state">
  <div class="medical-state-self">
    <div class="medical-state-numbers">
      <div class="medical-state-recommended-analyses col-6">
        <div #toggleContextualPopupButton class="medical-state-recommended-analyses-count" title="Нажмите чтобы увидеть рекомендованные анализы"
             [ngClass]="medicalState.item.recommendedAnalyses.length === 0 ? 'no-recommended-analyses' : 'has-recommended-analyses'"
             (click)="toggleRecommendedAnalysesList()">
          {{medicalState.item.recommendedAnalyses.length || '-'}}
        </div>
        <div #contextualPopup class="medical-state-recommended-analyses-list" [ngClass]="{'d-none': !recommendedAnalysesListShown}">
          <span class="pointer bi bi-caret-up-fill"></span>
          <span class="close-button bi-x" (click)="toggleRecommendedAnalysesList()"></span>
          <ul>
            <li *ngFor="let recommendedAnalysis of medicalState.item.recommendedAnalyses">
              {{recommendedAnalysis.shortName}}
            </li>
          </ul>
        </div>
      </div>
      <div class="medical-state-severity col-6">{{medicalState.item.severity}}</div>
    </div>
    <div class="medical-state-name">
      <span class="medical-state-child-line" [ngClass]="{'d-none': nestingLevel == 0}"></span>
      <span class="toggle-children-button bi"
            [ngClass]="{'bi-caret-down-fill': isOpen, 'bi-caret-right-fill': !isOpen, 'no-children': !hasChildren}"
            (click)="openChildren()">
    </span>
      {{medicalState.item.name}}
    </div>
    <div class="medical-state-specialists">
      Специалист: <span>{{specialistsMap.get(medicalState.item.specialistId)}}</span>
    </div>
  </div>
  <div class="medical-state-children" [ngClass]="{'d-none': !isOpen}">
    <app-medical-state-tree *ngFor="let medicalStateChild of medicalState.children"
                            [medicalState]="medicalStateChild" [specialistsMap]="specialistsMap"
                            [nestingLevel]="nestingLevel + 1">
    </app-medical-state-tree>
  </div>
</div>

