<div class="comment-container row">
  <div class="comment-specialist col-2">
    <div class="comment-specialist-image">
      <span class="bi-person-circle"></span>
    </div>
    <div class="comment-specialist-name">{{getSpecialistName(comment.specialistId)}}</div>
  </div>
  <div class="comment-content col-10">
    <div class="comment-subject">{{getCommentTypeName(comment.type)}}: {{comment.name}}</div>
    <div class="comment-text">
      <p *ngFor="let paragraph of comment.text.split('\n')">
        {{paragraph}}
      </p>
    </div>
  </div>
</div>
