.box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.body {
  padding: 1.25rem;
}

.value {
  width: 120px;
}

.indicators th {
  border-bottom: 1px solid #212529;
}

.indicators tbody tr:nth-child(2n) {
  background-color: #f6f6f6;
}

.indicators tbody tr:hover td {
  background-color: #efefef;
}

.indicators td:first-child {
  width: 100%;
}
