<h1 class="h3 mb-3">Проверка анализов</h1>

<div class="box mb-3">
  <div class="header">
    <h5 class="mb-0">Данные пациента</h5>
  </div>
  <div class="body">
    <form [formGroup]="patientForm">
      <div class="row d-flex mb-3">
        <div class="col-2 d-flex align-items-center justify-content-end pr-3 text-right">
          <label class="mb-0" for="sex">Пол</label>
        </div>
        <div class="col-10">
          <ng-select id="sex" formControlName="sex" class="form-select" labelForId="sex" [searchable]="false" placeholder="Выберите пол">
            <ng-option *ngFor="let sex of (sexes$ | async).items" [value]="sex">{{sex.name}}</ng-option>
          </ng-select>
        </div>
        <div class="col-2"></div>
        <div class="col-10">
          <div class="text-danger pt-1" *ngIf="hasError('sex')">Укажите пол</div>
        </div>
      </div>
      <div class="row d-flex mb-3">
        <div class="col-2 d-flex align-items-center justify-content-end pr-3 text-right">
          <label class="mb-0" for="age">Возраст</label>
        </div>
        <div class="col-10">
          <input type="number" id="age" formControlName="age" class="form-control" placeholder="Введите возраст" />
        </div>
        <div class="col-2"></div>
        <div class="col-10">
          <div class="text-danger pt-1" *ngIf="hasError('age')">Укажите возраст от 10 до 100 лет</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          <button class="btn btn-primary" *ngIf="showSaveButton" [disabled]="patientForm.invalid" (click)="savePatientForm()">Сохранить</button>
          <button class="btn btn-primary" *ngIf="showChangeButton" (click)="changePatientForm()">Изменить</button>
          <button class="btn btn-primary" *ngIf="showResaveButton" [disabled]="patientForm.invalid" (click)="resavePatientForm()">Сохранить и обновить неизмененные</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="box my-5" *ngIf="indicatorsForm.get('indicators').value.length">
  <div class="header">
    <h5 class="mb-0" (click)="fillIndicatorsWithTestData($event)">Показатели</h5>
  </div>
  <div class="body">
    <form [formGroup]="indicatorsForm">
      <table class="w-100 indicators">
        <thead>
        <tr>
          <th class="p-3">Показатель</th>
          <th class="p-3">Значения</th>
          <th class="p-3">Референсные значения</th>
        </tr>
        </thead>
        <tbody>
        <ng-container formArrayName="indicators" *ngFor="let indicator of indicatorsForm.get('indicators')['controls']; let indicatorIndex = index">
          <tr [formGroupName]="indicatorIndex">
            <td class="p-3">
              <label class="mb-0" [for]="indicator.value.item.name">
                {{indicator.value.item.name}} ({{indicator.value.item.shortName}})
              </label>
            </td>
            <td class="p-3">
              <input type="number" min="0" [id]="indicator.value.item.name" formControlName="result"
                     class="form-control value"
                     [ngClass]="{'font-weight-bold': indicator.get('result').value > indicator.get('max').value || indicator.get('result').value < indicator.get('min').value}"
                     (change)="indicatorValueChanged(indicator.value.item.id, indicator.get('result').value)"/>
            </td>
            <td class="p-3">
              <div class="d-flex">
                <input type="number" min="0" formControlName="min" class="form-control value" />
                <span class="ml-3 mr-3 d-flex align-items-center">-</span>
                <input type="number" min="0" formControlName="max" class="form-control value" />
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>

      <hr />

      <div class="mb-3">
        <label for="specialistsForCalculation">Специалисты для расчета</label>
        <div class="specialists-input-container">
          <ng-select id="specialistsForCalculation" formControlName="specialistsForCalculation" class="form-select specialists-input"
                     labelForId="specialistsForCalculation" [multiple]="true" [closeOnSelect]="false"
                     notFoundText="совпадений не найдено" placeholder="Выберите специалистов">
            <ng-option *ngFor="let specialist of allSpecialistsList" [value]="specialist">{{specialist.name}}</ng-option>
          </ng-select>
          <button class="specialists-select-all-button btn" (click)="selectAllSpecialistsForCalculation()">
            <i class="bi bi-check-all"></i>
            <span>ВСЕ</span>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          <div *ngIf="indicatorsFormDirty && indicatorsForm.invalid" class="text-danger mb-3">Форма заполнена неправильно</div>

          <button class="btn btn-primary" (click)="saveAnalysisResult()" [disabled]="indicatorsForm.disabled">Узнать результаты</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="box my-5 analysis-result" *ngIf="isAnalysisResultReceived">
  <div class="header">
    <h5 class="mb-0">Результаты</h5>
  </div>
  <div class="body">
    <div class="analyses-result-filters">
      <div class="filter-buttons btn-group">
        <button class="btn"
                *ngFor="let filterButton of filterButtons"
                (click)="selectFilter(filterButton)"
                [ngClass]="{'btn-primary': filterButton.isSelected, 'btn-outline-primary': !filterButton.isSelected}">
          {{filterButton.name}}
        </button>
      </div>
      <form [formGroup]="analysesResultFiltersForm">
        <div class="mt-4 mb-3">
          <!--TODO: reuse specialists select code by creating separate component for specialists select?-->
          <label for="specialistsForDisplay">Специалисты для отображения</label>
          <div class="specialists-input-container">
            <ng-select id="specialistsForDisplay" formControlName="specialistsForDisplay"
                       class="form-select specialists-input" labelForId="specialistsForDisplay"
                       [multiple]="true" [closeOnSelect]="false"
                       notFoundText="совпадений не найдено" placeholder="Выберите специалистов">
              <ng-option *ngFor="let specialist of specialistsForCalculation"
                         [value]="specialist">{{specialist.name}}</ng-option>
            </ng-select>
            <button class="specialists-select-all-button btn" (click)="selectAllSpecialistsForDisplay()">
              <i class="bi bi-check-all"></i>
              <span>ВСЕ</span>
            </button>
          </div>
        </div>

        <div class="text-right">
          <div *ngIf="analysesResultFiltersForm.dirty && analysesResultFiltersForm.invalid" class="text-danger mb-3">
            Форма фильтрации заполнена неправильно
          </div>
          <button class="btn btn-primary" (click)="filterResults()" [disabled]="analysesResultFiltersForm.invalid">
            Отфильтровать
          </button>
        </div>
      </form>
    </div>
    <h5 class="mt-5 mb-4 text-center">{{selectedFilterButton && selectedFilterButton.name}}</h5>
    <div class="medical-states">
      <div class="medical-states-header">
        <div>Диагноз</div>
        <div class="medical-states-header-numbers-titles">
          <div class="col-4">Количество показателей</div>
          <!-- Нужна Подсказка (tooltip): Количество дополнительных показателей, необходимых для диагностирования болезни/уточнения необходимости исследования/уточнения необходимости лечения -->
          <div class="col-4">Уровень текущего состояния</div>
          <!-- Нужна Подсказка (tooltip): уровень влияния показателей крови на выраженность болезни/исследования/лечения -->
          <div class="col-4">Общий уровень состояния</div>
          <!-- Нужна Подсказка (tooltip): средневзвешенный уровень влияния показателей крови на выраженность для текущей болезни/исследования/лечения и всего её поддерева. -->
        </div>
      </div>
      <div class="spinner-container text-muted" *ngIf="loadingAnalysisResult">
        <div class="spinners">
          <div class="spinner spinner-grow" role="status"></div>
          <div class="spinner spinner-grow" role="status"></div>
          <div class="spinner spinner-grow" role="status"></div>
        </div>
        <span class="spinner-message mt-2">Результаты загружаются...</span>
      </div>
      <div class="filtered-results" [ngClass]="{'is-loading': loadingAnalysisResult}">
        <div class="no-medical-states-message" *ngIf="analysesResult.foundMedicalStates.length === 0">
          Нет диагнозов по заданным критериям
        </div>
        <div class="medical-states-tree">
          <app-medical-state-tree *ngFor="let medicalState of analysesResult.foundMedicalStates"
                                  [medicalState]="medicalState" [specialistsMap]="allSpecialistsMap">
          </app-medical-state-tree>
        </div>
      </div>
    </div>
  </div>
</div>
