.progress-parent {
  background: #e0e0e0;
  height: 10px;
}

.progress-child {
  height: 100%;
  width: 0%;
  -webkit-transition: width 1.5s ease-in-out;
  -moz-transition: width 1.5s ease-in-out;
  -o-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.good {
  background: #9ae98f;
}

.normal {
  background: #e9e08f;
}

.bad {
  background: #e98f8f;
}
