<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 over-tutorial-overlay"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">МедЭксперт</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
<!--          <li class="nav-item"-->
<!--              [routerLinkActive]="['link-active']"-->
<!--              [routerLinkActiveOptions]="{ exact: true }">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/']">Главная</a>-->
<!--          </li>-->
          <li *appIfLogged="true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="toggleSubMenu()" style="width: 200px;">Импорт файлов</a>
            <ul *ngIf="subMenuExpanded" class="navbar-nav flex-grow" style="flex-direction: column">
              <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/import/indicators']">Показатели</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/import/reference-intervals']">Референсные интервалы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/import/symptoms']">Файлы специалистов</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/import/analysis']">Файл анализа</a>
              </li>
            </ul>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Проверка анализов</a><!-- analyses-check -->
          </li>
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/about']">О системе</a>-->
<!--          </li>-->
          <li *appIfLogged="true" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="logout()" style="cursor: pointer;">Выйти</a>
          </li>
          <li *appIfLogged="false" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/account/login']">Войти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
